{% extends 'base.html' %}
{% block content %}
    {% load static %}
   {% if task.is_deleted %}
        <h1>Ошибка 404</h1>
       {% else %}
        <div class="bg-white text-dark shadow p-3 mb-5 bg-body-tertiary rounded">
<hr>
    <form method="post">
    {% csrf_token %}
        <div class="col-sm-6">
            <h1>Summary: {{ task.summary }}</h1>
            <h2>Project: {{ task.project }}</h2>
            <h5>Status: {{ task.status }}</h5>
            <h3>Type: {{ task.type }}</h3>
            {% if task.description %}
                <p><b>Description</b>: {{ task.description }}</p>
                {% else %}
                <p><b>Description</b>: None</p>
            {% endif %}
        <h4>Date of Create: {{ task.time_of_create }}</h4>
        {% if task.time_of_create|date:"H:i" != task.update_time|date:"H:i" %}
                    <h4>Updated time: {{ task.update_time }}</h4>
                {% endif %}
        </div>
        </form>
    <hr>
    </div>
   {% endif %}
<script src="{% static 'js/scripts.js' %}"></script>
{% endblock %}
