{% extends 'project/baseProject.html' %}
{% block content %}
    <form method="post">
    {% csrf_token %}
    {% for project in projects %}
<div class="row">
  <div class="col mb-3">
    <div class="card text-dark shadow bg-body-tertiary rounder" style="border-radius: 20px">
      <div class="card-body">
        <div class="d-flex justify-content-between">
            <h5 class="card-title">{{ project.title.capitalize }} ({{ project.start_date }})
        </h5>
            <div class="d-flex align-items-center">
                {% if perms.issue_tracker.delete_project  %}
                <form method="post" action="{% url 'delete-project' project.id %}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-link link-decoration" onclick="return confirmDelete()" style="padding: 0 2px 0; border: 0">
                                            <i class="bi bi-file-earmark-minus"></i>
                                        </button>
             </form>
                {% endif %}
                <a href="{% url 'detail_project' project.id %}" class="link-decoration"><i class="bi bi-clipboard2"></i></a>
                {% if perms.issue_tracker.change_project %}
                                <a href="{% url 'edit-project' project.id %}" class="link-decoration"><i class="bi bi-pencil-square me-2 ms-2"></i></a>
                {% endif %}
            </div>
        </div>
          <h5>End_Date: {{ project.end_date }}</h5>
        <div class="form-check text-end">
            <label>
                 <input type="checkbox" class="form-check-input border-primary" value="{{ project.id }}" name="task">
            </label>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
            <button class="btn btn-danger" onclick="return confirmDelete()">Delete</button>

    </form>
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
{% endblock %}